@using System.Web.Script.Serialization;
@model GerenciaCarteiras.Models.ListaCarteirasModel
@{
    ViewBag.Title = "Menu";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <h2>Menu</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h4 class="modal-title text-center" id="processandoConta"></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button disabled id="btnListar" class="btn btn-primary">Listar</button>
            </div>
            <div class="col-sm-6">
                <button disabled id="btnRetirar" class="btn btn-primary">Retirar</button>
            </div>
        </div>
    </div>
</form>

@Html.Hidden("listaCarteiras", new JavaScriptSerializer().Serialize(Model.Carteiras), new { id = "listaCarteiras" })

@section scripts {
    <script type="text/javascript">
        var urlRetirar = '@Url.Action("Retirar","Carteiras")';
        var urlListarEnderecos = '@Url.Action("ListarEnderecos", "Carteiras")';
    </script>
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/menu")
}
